<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
</head>
<body style ="background-color:rgb(33, 44, 56);color:white;text-align: center;font-family: Arial, Helvetica, sans-serif;">
    <h1 style="font-size: 50px;">Gym>/</h1>
    <h2>You could add, edit and delete coaches on our site.</h2>
    <div style="display: flex; width: 1000px;">

        <div style="width: 450px; height: 450px;">
            <img style=" display: block;  width: 100%;" src="https://images.unsplash.com/photo-1579758629938-03607ccdbaba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt=""><h4>Coach Name</h4>
        <p>Information about a coach</p></div>
    </div>
    
</body>
</html>