<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gym trainer | Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/assets/css/flaticon.css">
    <link rel="stylesheet" href="static/assets/css/gijgo.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/animated-headline.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/slick.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="./courses.css">
</head>
<body class="black-bg">
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="prstatic/eloader-img pere-text">
                    <img src="static/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="static/assets/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="about">Home</a></li>
                                    <li><a href="courses">Courses</a></li>
                                    <li><a href="pricing">Pricing</a></li>
                                    <li><a href="gallery">Gallery</a></li>
                                        <ul class="submenu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog_details.html">Blog Details</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                    </li>
                                   
                                </ul>
                            </nav>
                        </div>          
                        <!-- Header-btn -->
                        <div class="header-btns d-none d-lg-block f-right">
                           <a href="contact.html" class="btn">Contact me</a>
                       </div>
                       <!-- Mobile Menu -->
                       <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>


<main>
</main>    
<footer>

    <p>
        <section class="services-area">
       
        </section>
    
    </p>
    <h2 class="zayavka_header">Заявка на абонемент</h2>
    <form method="post" action="save-contact" class="form">
        <style>
            .zayavka_header {
                color: white;
                text-transform: uppercase;
                text-align: center;
                font-size: 35px;
                margin-top: 40px;
            }
            .form input {
                display: block; margin: auto;
                background-color: #ff1313;
                border: 0;
                color: white;
                margin-bottom: 10px;
            }
            .form input:active, .form input:focus {
                background-color: #ff1313;
                outline: 1px solid white;
                border: 0;
            }
            .form {
                margin: 60px auto;
                width: 400px;
            }
            .form input::placeholder{
                color: white;
            }
            .form input[type="submit"]:hover {
                background-color: #ffffff;
                color: #ff1313;
            }
            .form .nice-select{
            background-color: #ff1313;
            border-color: #ffffff;
            color: #ffffff;
            }
            .form .list {
                background-color: #ff1313;
            }
            .form .nice-select .option:hover {
                color: #ff1313;
            }
        </style>
        <input style="width: 400px; padding: 10px" type="text" name="client_name" placeholder="Ім’я"/>
        <input style="width: 400px; padding: 10px" type="text" name="client_lastname" placeholder="Прізвіще"/>
        <input style="width: 400px; padding: 10px" type="text" name="phone" placeholder="Номер Телефону"/>
   
        <select name="abonement">

            {% for item in abonements %}
            <option value={{ item.ID }}>{{ item.Name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Відправити заявку" style="    
                padding: 12px 20px;
                cursor: pointer;
                border-radius: 5px;
                font-size: 13px;
                margin: 0 0 0 auto;
                transition: 300ms;"/> 
    </form>

    <!--? Footer Start-->
    <div class="footer-area black-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- Footer Menu -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-footer-caption mb-50 text-center">
                            <!-- Header Start -->
                 
                            <!-- Header End -->
                            <!-- social -->
                            <div class="footer-social mt-30 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".8s">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> Усі права захищені. Цей проект зроблений Денисом для GO ITeens!
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
  </footer>
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="./static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Postatic/pper, Bootstrap -->
<script src="./static/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./static/assets/js/popper.min.js"></script>
<script src="./static/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobstatic/ile Menu -->
<script src="./static/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slistatic/ck , Owl-Carousel Plugins -->
<script src="./static/assets/js/owl.carousel.min.js"></script>
<script src="./static/assets/js/slick.min.js"></script>
<!-- One Page, static/Animated-HeadLin -->
<script src="./static/assets/js/wow.min.js"></script>
<script src="./static/assets/js/animated.headline.js"></script>
<script src="./static/assets/js/jquery.magnific-popup.js"></script>

<!-- Date Pickestatic/r -->
<script src="./static/assets/js/gijgo.min.js"></script>
<!-- Nice-selecstatic/t, sticky -->
<script src="./static/assets/js/jquery.nice-select.min.js"></script>
<script src="./static/assets/js/jquery.sticky.js"></script>

<!-- counter , static/waypoint,Hover Direction -->
<script src="./static/assets/js/jquery.counterup.min.js"></script>
<script src="./static/assets/js/waypoints.min.js"></script>
<script src="./static/assets/js/jquery.countdown.min.js"></script>
<script src="./static/assets/js/hover-direction-snake.min.js"></script>

<!-- contact jsstatic/ -->
<script src="./static/assets/js/contact.js"></script>
<script src="./static/assets/js/jquery.form.js"></script>
<script src="./static/assets/js/jquery.validate.min.js"></script>
<script src="./static/assets/js/mail-script.js"></script>
<script src="./static/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plustatic/gins, main Jquery -->	
<script src="./static/assets/js/plugins.js"></script>
<script src="./static/assets/js/main.js"></script>

</body>
</html>